doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body 
    ul#navigation
      li
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/contact") Contact


    block content